{% extends 'base.html' %}
{% load bootstrap %}
{% block title %} Deletar Postagem {% endblock title %}

{% block content %}
<div class="container justify-content-center">
    <div class="card"">
            <div class="card-header">
               <h4>EXCLUIR</h4>
            </div>
            <div class="card-body">
                 <form action="" method="post">
                    <p>Você tem certeza que deseja excluir o registro "{{ post.titulo }}"?</p>
                    <button type="submit" class="btn btn-dark">CONFIRMAR</button>
                 </form>
            </div>
    </div>
</div>
{% endblock content %}

