{% extends 'base.html' %}
{% load bootstrap %}
{% block title %} Nova Postagem {% endblock title %}

{% block content %}
<div class="container justify-content-center">
    <div class="card"">
        <div class="card-header">
           <h4>NOVA POSTAGEM</h4>
        </div>
        <div class="card-body">
             <form action="" method="post">
                {% csrf_token %}
                {{ form|bootstrap }}
             <button type="submit" class="btn btn-primary">PUBLICAR</button>
             </form>
        </div>
    </div>
</div>
{% endblock content %}