{% extends 'base.html' %}
{% load bootstrap %}
{% block title %} Blog - Detalhe {% endblock title %}
{% block content %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="container justify-content-center">
            <h2>{{ object.titulo }}</h2>
            <p>{{ object.conteudo|safe }} </p>
            <br>
            <a href="{{ object.get_absolute_url_update }}" class="btn btn-light">+ Editar</a>
            <a href="{{ object.get_absolute_url_delete }}" class="btn btn-danger">Deletar</a>
    </div>
    
{% endblock content %}